.id{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }


#abc{
  margin-top: 10%;
}

.iv {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.foot{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }



